In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import time
import numpy as np

# Hotel.am

In [2]:
download_from_url = "https://hotel.am/hotels/page/"

In [3]:
page = BeautifulSoup(download_from_url)

C:\Users\user\anaconda3\lib\site-packages\bs4\__init__.py:417: MarkupResemblesLocatorWarning: "https://hotel.am/hotels/page/" looks like a URL. Beautiful Soup is not an HTTP client. You should probably use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  warnings.warn(

In [4]:
all_hotels_urls = list()
count = 0
for pages in range(1,19):
    URL = download_from_url + f'{pages}'
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, "html.parser")
    hotels_url = soup.find_all('div', class_ = 'col-md-3')

    if len(hotels_url) == 0:
        break
    for hotels_href in hotels_url:
        get_hotels_href = hotels_href.find('a',href=True)
        if get_hotels_href is None:
            continue
        complete_hotels_urls = get_hotels_href['href']
        if complete_hotels_urls == "/en/hotels":
            continue
        count+=1
        all_hotels_urls.append([count, complete_hotels_urls])
print("Number of links: ", len(all_hotels_urls))
urls_to_csv = pd.DataFrame(all_hotels_urls, columns=['Index', 'URL'])
urls_to_csv.to_csv('hotels_urls.csv', index=False)

Number of links:  258

In [5]:
# Custom function for getting n-th span
def Repeat_function(times):
    if time == 0:
        return div.find_next('span', class_='factext')
    else:
        func = "div.find_next('span', class_='factext')"
        rep_value = ".find_next('span', class_='factext')"
        span = div.find_next('span', class_='factext')
        if span is not None:

            for _ in range(0+times):
                func = func + rep_value
        return eval(func)

In [6]:
hotels_db = list()
count = 0
for hotel in urls_to_csv.URL.tolist():
    page = requests.get(hotel)
    soup = BeautifulSoup(page.content, "html.parser")
    time.sleep(1.5)
    hotels_dict = {"Hotel name": soup.find('h1', class_ = 'hoteltitle').text,
                    'Min price': soup.find('span', class_='exchange').text,
                    'Stars': soup.find('span', class_='starsvalue').text,
                    'Chech in/out': soup.find('div', class_='hotelservices').text     
                   }
    if soup.find('span', class_='grey hnum') is None:
        hotels_dict['Comments'] = 0
    else:
        hotels_dict['Comments'] = soup.find('span', class_='grey hnum').text
    
    divs = soup.find_all('div', {'class': 'facilities icons'})
    for div in divs:
        current_span = Repeat_function(0)
        for i in range(1,50):
            current_span = Repeat_function(i)
            if current_span is None:
                break
            else:
                try:
                    hotels_dict[current_span.string] = current_span.string
                except KeyError:
                    print(f"{current_span} facility is unknown key.")
    hotels_db.append(hotels_dict)
    count+=1
print('Observation: ', count)
hotels = pd.DataFrame(hotels_db)
hotels.to_csv('hotels.csv')

Observation:  258

# Data Cleaning

In [300]:
df = pd.read_csv('hotels.csv')
df.head()

,Unnamed: 0,Hotel name,Min price,Stars,Chech in/out,Comments,TV,Pool,Parking,Wi-Fi,...,Grill/BBQ,Garden,Table tennis,Cottages,Kid's room,FB meal,HB meal,Microwave,Pets allowed,Tennis
0,0,Europe Hotel Artsakh,25000.0,4,Check in: 14:00\nCheck out: 12:00,0,TV,Pool,Parking,Wi-Fi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,R & R Ինն Հյուրանոց,14000.0,3,Ժամանում: 14:00\nՄեկնում: 12:00,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Ibis Yerevan Center Hotel,NaN,3,Check in: 14:00\nCheck out: 12:00,0,TV,NaN,Parking,Wi-Fi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Aghababyan's Hotel,28900.0,5,Check in: 14:00\nCheck out: 12:00,3,TV,Pool,Parking,Wi-Fi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Yerevan Deluxe Hotel,15000.0,3,Check in: 13:00\nCheck out: 12:00,0,TV,NaN,Parking,Wi-Fi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [301]:
df.columns

Index(['Unnamed: 0', 'Hotel name', 'Min price', 'Stars', 'Chech in/out',
       'Comments', ' TV', ' Pool', ' Parking', ' Wi-Fi', ' Conference Room',
       ' Air Conditioning', ' Breakfast', ' Cafe', ' Jacuzzi', ' Restaurant',
       '     TV', '     Ավտոկայանատեղի ', '     Wi-Fi ինտերնետ', '     Ֆեն',
       '     Կոնֆերանս Դահլիճ', '     Օդորակիչ', '     Նախաճաշ', '     Սեյֆ',
       '     Մինիբար', '     Զգեստապահարան', '     Հեռախոս',
       '     Սեղան/Գրասեղան', '    Լողասենյակ ', ' Laundry', ' Room service',
       ' Safe', ' Minibar', ' Wardrobe', ' Phone', ' Bathroom', ' Dryer',
       ' Playground', ' Fitness', ' Table/Desk', ' Billiards', ' Refrigerator',
       ' SPA', ' Kitchen', ' Grill/BBQ', ' Garden', ' Table tennis',
       ' Cottages', ' Kid's room', ' FB meal', ' HB meal', ' Microwave',
       ' Pets allowed', ' Tennis'],
      dtype='object')

In [302]:
# There are two TV columns rename one of them then strip all columns
df = df.rename(columns={'     TV': 'TV_1'})

In [303]:
# There are whitespaces in column names. Remove that
df.columns = df.columns.str.strip()
df.columns

Index(['Unnamed: 0', 'Hotel name', 'Min price', 'Stars', 'Chech in/out',
       'Comments', 'TV', 'Pool', 'Parking', 'Wi-Fi', 'Conference Room',
       'Air Conditioning', 'Breakfast', 'Cafe', 'Jacuzzi', 'Restaurant',
       'TV_1', 'Ավտոկայանատեղի', 'Wi-Fi ինտերնետ', 'Ֆեն', 'Կոնֆերանս Դահլիճ',
       'Օդորակիչ', 'Նախաճաշ', 'Սեյֆ', 'Մինիբար', 'Զգեստապահարան', 'Հեռախոս',
       'Սեղան/Գրասեղան', 'Լողասենյակ', 'Laundry', 'Room service', 'Safe',
       'Minibar', 'Wardrobe', 'Phone', 'Bathroom', 'Dryer', 'Playground',
       'Fitness', 'Table/Desk', 'Billiards', 'Refrigerator', 'SPA', 'Kitchen',
       'Grill/BBQ', 'Garden', 'Table tennis', 'Cottages', 'Kid's room',
       'FB meal', 'HB meal', 'Microwave', 'Pets allowed', 'Tennis'],
      dtype='object')

In [304]:
# Drop non informative columns
df.drop('Unnamed: 0', axis  = 1, inplace = True)

In [305]:
# There are columns that contain the same information in different languages 
# I'll transfer info from armenian column to english, then I'll remove Armenian column

In [306]:
# function for replacement
def replace_value(x,value: str):
    if not pd.isnull(x):
        return value
    else:
        return value

In [307]:
# replace values
df['Parking'] = df['Ավտոկայանատեղի'].apply(replace_value,  args=('Parking',))
df['Wi-Fi'] = df['Wi-Fi ինտերնետ'].apply(replace_value,  args=('Wi-Fi',))
df['Dryer'] = df['Ֆեն'].apply(replace_value,  args=('Dryer',))
df['Conference Room'] = df['Կոնֆերանս Դահլիճ'].apply(replace_value,  args=('Conference Room',))
df['Air Conditioning'] = df['Օդորակիչ'].apply(replace_value,  args=('Air Conditioning',))
df['Breakfast'] = df['Նախաճաշ'].apply(replace_value,  args=('Breakfast',))
df['Safe'] = df['Սեյֆ'].apply(replace_value,  args=('Safe',))
df['Minibar'] = df['Մինիբար'].apply(replace_value,  args=('Minibar',))
df['Wardrobe'] = df['Զգեստապահարան'].apply(replace_value,  args=('Wardrobe',))
df['Phone'] = df['Հեռախոս'].apply(replace_value,  args=('Phone',))
df['Table/Desk'] = df['Սեղան/Գրասեղան'].apply(replace_value,  args=('Table/Desk',))
df['Bathroom'] = df['Լողասենյակ'].apply(replace_value,  args=('Bathroom',))
df['TV'] = df['TV_1'].apply(replace_value,  args=('TV',))

In [308]:
# Drop unnecessary columns
col_drop = ['TV', 'Ավտոկայանատեղի','Wi-Fi ինտերնետ', 'Ֆեն', 'Կոնֆերանս Դահլիճ', 'Օդորակիչ', 'Նախաճաշ',
            'Սեյֆ', 'Մինիբար', 'Զգեստապահարան', 'Հեռախոս', 'Սեղան/Գրասեղան','Լողասենյակ','TV_1']

df = df[df.columns.difference(col_drop)]
df.shape

(258, 39)

In [309]:
# check for missing values
df.isna().sum()

Air Conditioning      0
Bathroom              0
Billiards           203
Breakfast             0
Cafe                188
Chech in/out          0
Comments              0
Conference Room       0
Cottages            245
Dryer                 0
FB meal             212
Fitness             210
Garden              193
Grill/BBQ           210
HB meal             235
Hotel name            0
Jacuzzi             232
Kid's room          229
Kitchen             224
Laundry             183
Microwave           256
Min price             2
Minibar               0
Parking               0
Pets allowed        247
Phone                 0
Playground          165
Pool                167
Refrigerator        201
Restaurant          139
Room service        146
SPA                 220
Safe                  0
Stars                 0
Table tennis        208
Table/Desk            0
Tennis              249
Wardrobe              0
Wi-Fi                 0
dtype: int64

In [310]:
# data types in the data set
dtypes = pd.DataFrame(df.dtypes,columns=["Data Types"])
dtypes["Data Types"].unique()

array([dtype('O'), dtype('int64'), dtype('float64')], dtype=object)

In [311]:
# df info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Air Conditioning  258 non-null    object
 1   Bathroom          258 non-null    object
 2   Billiards         55 non-null     object
 3   Breakfast         258 non-null    object
 4   Cafe              70 non-null     object
 5   Chech in/out      258 non-null    object
 6   Comments          258 non-null    int64
 7   Conference Room   258 non-null    object
 8   Cottages          13 non-null     object
 9   Dryer             258 non-null    object
 10  FB meal           46 non-null     object
 11  Fitness           48 non-null     object
 12  Garden            65 non-null     object
 13  Grill/BBQ         48 non-null     object
 14  HB meal           23 non-null     object
 15  Hotel name        258 non-null    object
 16  Jacuzzi           26 non-null     object
 17  Kid's room        29 non-null     object
 18  Kitchen           34 non-null     object
 19  Laundry           75 non-null     object
 20  Microwave         2 non-null      object
 21  Min price         256 non-null    float64
 22  Minibar           258 non-null    object
 23  Parking           258 non-null    object
 24  Pets allowed      11 non-null     object
 25  Phone             258 non-null    object
 26  Playground        93 non-null     object
 27  Pool              91 non-null     object
 28  Refrigerator      57 non-null     object
 29  Restaurant        119 non-null    object
 30  Room service      112 non-null    object
 31  SPA               38 non-null     object
 32  Safe              258 non-null    object
 33  Stars             258 non-null    int64
 34  Table tennis      50 non-null     object
 35  Table/Desk        258 non-null    object
 36  Tennis            9 non-null      object
 37  Wardrobe          258 non-null    object
 38  Wi-Fi             258 non-null    object
dtypes: float64(1), int64(2), object(36)
memory usage: 78.7+ KB

In [312]:
# select all column with dtype 'Object'
object_columns = []
for column in df:
    if df[column].dtypes == 'object':
        object_columns.append(column)

In [313]:
# select only "object" columns and replace all missing values with "not available"
df[object_columns] = df[object_columns].fillna('not available')

In [314]:
# In numeric columns there are two missing values. I' will remove that rows from data set
df[['Comments','Min price','Stars']].isna().sum()

Comments     0
Min price    2
Stars        0
dtype: int64

In [315]:
print(f"Shape of data before removing missing values: {df.shape}")
df.dropna(inplace = True)
print(f"Shape of data after removing missing values: {df.shape}")

Shape of data before removing missing values: (258, 39)
Shape of data after removing missing values: (256, 39)

In [318]:
# There is "Chech in/out" column in the data that contains two differenc information abot the time of chek in and check out
# Split them and creat two new column from that column
# After that I'll remove column  "Chech in/out"

In [319]:
df['Chech in'] =  df['Chech in/out'].apply(lambda x: x.split('\n')[0].split(': ')[1].strip())
df['Chech out'] =  df['Chech in/out'].apply(lambda x: x.split('\n')[1].split(': ')[1].strip())

In [320]:
df[['Chech in','Chech out']].dtypes

Chech in     object
Chech out    object
dtype: object

In [321]:
# Converting  "Chech in" and "Chech out"  from object to datetime
df["Chech in"]=pd.to_datetime(df["Chech in"])
df["Chech out"]=pd.to_datetime(df["Chech out"])

In [322]:
df[['Chech in','Chech out']].dtypes

Chech in     datetime64[ns]
Chech out    datetime64[ns]
dtype: object

In [323]:
# drop column 'Chech in/out' 
df.drop('Chech in/out', axis = 1, inplace = True)

In [324]:
# check for missing values
df.isna().sum()

Air Conditioning    0
Bathroom            0
Billiards           0
Breakfast           0
Cafe                0
Comments            0
Conference Room     0
Cottages            0
Dryer               0
FB meal             0
Fitness             0
Garden              0
Grill/BBQ           0
HB meal             0
Hotel name          0
Jacuzzi             0
Kid's room          0
Kitchen             0
Laundry             0
Microwave           0
Min price           0
Minibar             0
Parking             0
Pets allowed        0
Phone               0
Playground          0
Pool                0
Refrigerator        0
Restaurant          0
Room service        0
SPA                 0
Safe                0
Stars               0
Table tennis        0
Table/Desk          0
Tennis              0
Wardrobe            0
Wi-Fi               0
Chech in            0
Chech out           0
dtype: int64

In [325]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256 entries, 0 to 257
Data columns (total 40 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Air Conditioning  256 non-null    object
 1   Bathroom          256 non-null    object
 2   Billiards         256 non-null    object
 3   Breakfast         256 non-null    object
 4   Cafe              256 non-null    object
 5   Comments          256 non-null    int64
 6   Conference Room   256 non-null    object
 7   Cottages          256 non-null    object
 8   Dryer             256 non-null    object
 9   FB meal           256 non-null    object
 10  Fitness           256 non-null    object
 11  Garden            256 non-null    object
 12  Grill/BBQ         256 non-null    object
 13  HB meal           256 non-null    object
 14  Hotel name        256 non-null    object
 15  Jacuzzi           256 non-null    object
 16  Kid's room        256 non-null    object
 17  Kitchen           256 non-null    object
 18  Laundry           256 non-null    object
 19  Microwave         256 non-null    object
 20  Min price         256 non-null    float64
 21  Minibar           256 non-null    object
 22  Parking           256 non-null    object
 23  Pets allowed      256 non-null    object
 24  Phone             256 non-null    object
 25  Playground        256 non-null    object
 26  Pool              256 non-null    object
 27  Refrigerator      256 non-null    object
 28  Restaurant        256 non-null    object
 29  Room service      256 non-null    object
 30  SPA               256 non-null    object
 31  Safe              256 non-null    object
 32  Stars             256 non-null    int64
 33  Table tennis      256 non-null    object
 34  Table/Desk        256 non-null    object
 35  Tennis            256 non-null    object
 36  Wardrobe          256 non-null    object
 37  Wi-Fi             256 non-null    object
 38  Chech in          256 non-null    datetime64[ns]
 39  Chech out         256 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(35)
memory usage: 82.0+ KB

In [326]:
df.head()

,Air Conditioning,Bathroom,Billiards,Breakfast,Cafe,Comments,Conference Room,Cottages,Dryer,FB meal,...,SPA,Safe,Stars,Table tennis,Table/Desk,Tennis,Wardrobe,Wi-Fi,Chech in,Chech out
0,Air Conditioning,Bathroom,not available,Breakfast,Cafe,0,Conference Room,not available,Dryer,not available,...,not available,Safe,4,not available,Table/Desk,not available,Wardrobe,Wi-Fi,2022-05-02 14:00:00,2022-05-02 12:00:00
1,Air Conditioning,Bathroom,not available,Breakfast,not available,0,Conference Room,not available,Dryer,not available,...,not available,Safe,3,not available,Table/Desk,not available,Wardrobe,Wi-Fi,2022-05-02 14:00:00,2022-05-02 12:00:00
3,Air Conditioning,Bathroom,Billiards,Breakfast,Cafe,3,Conference Room,not available,Dryer,not available,...,not available,Safe,5,not available,Table/Desk,not available,Wardrobe,Wi-Fi,2022-05-02 14:00:00,2022-05-02 12:00:00
4,Air Conditioning,Bathroom,not available,Breakfast,not available,0,Conference Room,not available,Dryer,not available,...,not available,Safe,3,not available,Table/Desk,not available,Wardrobe,Wi-Fi,2022-05-02 13:00:00,2022-05-02 12:00:00
5,Air Conditioning,Bathroom,not available,Breakfast,Cafe,0,Conference Room,not available,Dryer,not available,...,not available,Safe,3,not available,Table/Desk,not available,Wardrobe,Wi-Fi,2022-05-02 14:00:00,2022-05-02 12:00:00

In [328]:
df.shape

(256, 40)

#### After data cleaning process we lost only two observations. From 258 instances the data becomes 256. Now our data does not have any missing values and all columns are in corresponding data types.